*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #020204;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #32323d;
}

.header__line {
  border-bottom: 1px solid #32323d;
}



.header__line__wrapper {
  height: 30px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__phone {
    
}